@{
    ViewData["Title"] = "Home Page";
}

@model Gpta.Ticket.WebApp.Models.UploadSummary

<dv>
<table border="1" cellpadding="10">
    <th></th>
    <th></th>
                 <tr>
                    <td><b>Status</b></td>
                    <td>@Model.Status</td>
                </tr>

                 <tr>
                    <td><b>Total Lines Parsed</b></td>
                    <td>@Model.TotalLinesParsed</td>
                </tr>

                 <tr>
                    <td><b>Total Lines Failed</b></td>
                    <td>@Model.TotalLinesParsedFailed</td>
                </tr>

</table>
</dv>

<dv>
<table border="1" cellpadding="10">
                    <th>Line Number</th>
                    <th>Line</th>
                    <th>Reason</th>
                                    
            @foreach(var info in Model.FailedLines){
                 <tr>
                    <td>@info.LineNumber</td>
                    <td>@info.Line</td>
                    <td>@info.Reason</td>
                </tr>
            }
</table>
</dv>